<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
    			<meta http-equiv="X-UA-Compatible" content="IE=edge">
   			<meta name="viewport" content="width=device-width, initial-scale=1">
    				<link rel="stylesheet" href="css/bootstrap.min.css">
   			<!--	<link rel="stylesheet" href="css/styles.css"> -->
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav class="fixed-nav-bar">
				<div id="menu" class="menu">
					
	    		<ul class="menu-items">
	        		<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
		        	<li><a href="/career">Career</a></li>
	        		<li><a href="/photography">Photography</a></li>
	        		<li><a href="/lifestyle">Lifestyle</a></li>
				<li><a href="/contact">Contact</a></li>
	    		</ul>
				</div>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:contact@jaz-marie.com">Email</a></li>
				<li><a href="https://www.linkedin.com/in/jazmine-livingston-1a587b11/">LinkedIn</a></li>
				<li><a href="http://www.instagram.com/itsonlyjaz">Instagram</a></li>
	        		
				</ul>
			<script src="js/jquery-3.1.1.min.js"></script>
			<script src="js/bootstrap.min.js"></script>
			<script src="js/script.js"></script>	
			</footer>
		</body>
	</html>
